[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot
[submodule "tmux"]
	path = tmux
	url = git@github.com:dandrzejewski/dotfiles_tmux.git
[submodule "prezto"]
	path = prezto
	url = git@github.com:dandrzejewski/prezto.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotfiles"]
	branch = master
