[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot
[submodule "tmux"]
	path = tmux
	url = git@github.com:dandrzejewski/dotfiles_tmux
[submodule "prezto"]
	path = prezto
	url = git@github.com:dandrzejewski/prezto.git
